/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*

/*
    Created on : 29-03-2022, 02:15:52
    Author     : Luis González
*/
$colorDeFondo: rgba(2,3, 17,0.8);
%hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
%mediaMaxWidth1280Px{
     @media (max-width:1280px){
        font-size: 0.85em;       
    }
    
}
%menu{
    background-color:$colorDeFondo;
    box-sizing: border-box;
    color: whitesmoke;
    margin: 0.5em;
    padding: 0.3em;
    overflow: hidden;
    text-align: center;
    a{
        text-decoration: none;
    }
    .mostrar{
        display: block;    
    }
    .ocultar{
        display: none;   
    }
    .deshabilitar{
        background-color: rgb(229,229,229) !important;
        color: black !important;
        cursor: not-allowed;
        opacity: 0.2;
        pointer-events: none;
    }
}
%titulos{
    color: whitesmoke;
    letter-spacing: 0.2em;
    text-align: center;
    @media (max-width:1280px){
        color: orange;
        font-size: 0.8em;
    }
}


