
@import "Menu.scss";

#cuadroMenuBarraLateral2{
    @extend %menu;
    display: grid;
    grid-area : cuadroMenuBarraLateral2;
    grid-template-columns: 1fr;
    grid-template-areas: "cuadroMenuSubCategoria";
}
