/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-03-2022, 11:15:06
    Author     : lugo_
*/
/*body{
    background-color: blue !important;
}
#cuadroDeInformacionDelProducto div{
    background-color: #525a59;
    width: 12em;
    display: inline-block;
    margin: 0.7em;
    padding: 0.5em;
}
<!-- -->
#cuadroMenuCategorias #listaDeNombresDeLasCategoriasMC div{
}
<!-- -->
#cuadroMenuBarraLateral{ 
    box-sizing: border-box;
}
#cuadroMenuBarraLateral2{
}
<!-- -->
#cuadroMenuSubCategoria{
    background-color: white !important;
    color: black !important;
}
#cuadroMenuSubCategoria #listaDeNombresDeProductosDeLaSubCategoria div{
}
#cuadroMenuSubCategorias #listaDeNombresDeLasCategoriasMSC div{
    
}
#cuadroMenuSubCategoria #listaDeNombresDeProductosDeLaSubCategoria div h3:nth-child(2){
    color: white !important;
}
<!-- -->
#menuDeMensajesDelSistema{ 
    border-radius: 0.5em;
}
<!-- -->
#spanMensajeSinStock{  
   
}*/
    
