
@import "Menu.scss";
#cuadroMenuSubCategoria{
    display: grid;
    grid-area: cuadroMenuSubCategoria;
    grid-template-areas: "tituloDelMenuSubCategoria" 
        "listaDeNombresDeProductosDeLaSubCategoria";
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    
    #tituloDelMenuSubCategoria{//Título del cuadroMenuSubCategoria
       @extend %titulos;
       grid-area: tituloDelMenuSubCategoria;
    }
    #listaDeNombresDeProductosDeLaSubCategoria{
        grid-area: listaDeNombresDeProductosDeLaSubCategoria;
        div{
            h2{
                background-color: graytext;
                opacity: 0.6;                
            }
            h3{
                &:nth-child(2){
                    color: white;
                    background-color: blue;
                }
            }
            input[type=submit]{
                background-color: #ffdb64;
                font-size: 1em;
                &:hover{
                    @extend %hover;
                }
            }
        }
    }
}